In [48]:
import pandas as pd
from sqlalchemy import create_engine, inspect, func
import time
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

online_errors = 0
retail_errors = 0
key_errors = 0
marketing_errors = 0
inspector = inspect(engine)
inspector.get_table_names()

['Online']

In [85]:
online_db = pd.read_csv("Resources/Online.csv")
retail_db = pd.read_csv("Resources/Retail.csv")
key_db = pd.read_csv("Resources/KEY_SKU.csv",encoding='utf-8-sig')
marketing_db =pd.read_csv("Resources/Marketing_Spend.csv")
online_start_time = time.time()
retail_start_time = time.time()
key_start_time = time.time()
marketing_start_time = time.time()
# engine = create_engine("sqlite:///Resources/Online.sqlite", echo=False)
# engine2 = create_engine("sqlite:///Resources/key.sqlite", echo=False)
# engine3 = create_engine("sqlite:///Resources/retail.sqlite", echo=False)
# engine4 = create_engine("sqlite:///Resources/marketing.sqlite", echo=False)
engine = create_engine("sqlite:///Resources/data.sqlite", echo=False)

In [3]:
online_db.head()

,Transaction ID,Date,Product SKU,Product,Product Category (Enhanced E-commerce),Quantity,Avg. Price,Revenue,Tax,Delivery
0,48497,20171231,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,20171231,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,20171231,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,20171231,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,20171231,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [4]:
retail_db.head()

   InvoiceNo InvoiceDate  StockCode  Quantity
0     536598  2017-01-01      21421         1
1     536598  2017-01-01      21422         2
2     536598  2017-01-01      22178        26
3     536599  2017-01-01      20749         2
4     536599  2017-01-01      21056         2

In [5]:
key_db.head()

      Product SKU  StockCode
0  GGOENEBQ079099      21421
1  GGOENEBQ079199      21422
2  GGOENEBQ084699      22178
3  GGOEGAEB091117      20749
4  GGOENEBB078899      21056

In [6]:
marketing_db.head()

   Unnamed: 0  Offline Spend  Online Spend
0  2017-01-01           4500       2424.50
1  2017-01-02           4500       3480.36
2  2017-01-03           4500       1576.38
3  2017-01-04           4500       2928.55
4  2017-01-05           4500       4055.30

In [ ]:
# inner join key to retail on stock code
#then inner join new retail_db on to online_db on product sku
#then on marketing join on invoice date after changing the name

In [7]:
try:
    marketing_cols = ['InvoiceDate','Offline Budget','Online Budget']
    marketing_trans = marketing_db[marketing_cols].copy()
    
    marketing_trans = marketing_trans.rename(columns={'Unnamed:0':'InvoiceDate',
                                                      'Offline Spend':'Offline Budget',
                                                      'Online Spend':'Online Budget'})
except:    
    marketing_errors+=1

In [8]:
marketing_errors

1

In [9]:
marketing_cols = ['Unnamed: 0','Offline Spend','Online Spend']
marketing_trans = marketing_db[marketing_cols].copy()

marketing_trans = marketing_trans.rename(columns={'Unnamed: 0':'InvoiceDate',
                                                  'Offline Spend':'Offline Budget',
                                                  'Online Spend':'Online Budget'})
marketing_trans.head()

  InvoiceDate  Offline Budget  Online Budget
0  2017-01-01            4500        2424.50
1  2017-01-02            4500        3480.36
2  2017-01-03            4500        1576.38
3  2017-01-04            4500        2928.55
4  2017-01-05            4500        4055.30

In [55]:
engine.execute("""select * from pragma_table_info('online');""").fetchall()

[(0, '\ufeffTransaction ID', '', 0, None, 0),
 (1, 'Date', '', 0, None, 0),
 (2, 'Product SKU', '', 0, None, 0),
 (3, 'Product', '', 0, None, 0),
 (4, 'Product Category (Enhanced E-commerce)', '', 0, None, 0),
 (5, 'Quantity', '', 0, None, 0),
 (6, 'Avg. Price', '', 0, None, 0),
 (7, 'Revenue', '', 0, None, 0),
 (8, 'Tax', '', 0, None, 0),
 (9, 'Delivery', '', 0, None, 0)]

In [86]:
engine.execute("""select * from pragma_table_info('key_sku');""").fetchall()

[(0, '\ufeffProduct SKU', '', 0, None, 0), (1, 'StockCode', '', 0, None, 0)]

In [57]:
engine.execute("""select * from pragma_table_info('retail');""").fetchall()

[(0, 'InvoiceNo', '', 0, None, 0),
 (1, 'InvoiceDate', '', 0, None, 0),
 (2, 'StockCode', '', 0, None, 0),
 (3, 'Quantity', '', 0, None, 0)]

In [68]:
engine.execute("""select * from pragma_table_info('marketing_spend');""").fetchall()

[(0, 'InvoiceDate', '', 0, None, 0),
 (1, 'Offline Budget', '', 0, None, 0),
 (2, 'Online Budget', '', 0, None, 0)]

In [70]:
join1 =  engine.execute('SELECT * FROM marketing_spend inner join retail on marketing_spend.InvoiceDate = retail.InvoiceDate LIMIT 5').fetchall()

In [76]:
for row in join1:
    print(row)

('2017-01-01', '4500', '2424.5', '536598', '2017-01-01', '21421', '1')
('2017-01-01', '4500', '2424.5', '536598', '2017-01-01', '21422', '2')
('2017-01-01', '4500', '2424.5', '536598', '2017-01-01', '22178', '26')
('2017-01-01', '4500', '2424.5', '536599', '2017-01-01', '20749', '2')
('2017-01-01', '4500', '2424.5', '536599', '2017-01-01', '21056', '2')

In [106]:
join1 =  engine.execute("""SELECT * FROM marketing_spend 
                        inner join retail 
                        on marketing_spend.InvoiceDate = retail.InvoiceDate 
                        inner join key_SKU
                        on key_sku.StockCode =retail.StockCode 
                        inner join online
                        on online.'ProductSKU' = KEY_SKU.'\ufeffProduct SKU' limit 5""").fetchall()

In [107]:
for row in join1:
    print(row)

('2017-01-01', '4500', '2424.5', '536598', '2017-01-01', '21421', '1', 'GGOENEBQ079099', '21421', '16699', '20170101', 'GGOENEBQ079099', 'Nest® Protect Smoke + CO White Battery Alarm-USA', 'Nest-USA', '1', '81.5', '79', '7.28', '6.5')
('2017-01-01', '4500', '2424.5', '536598', '2017-01-01', '21421', '1', 'GGOENEBQ079099', '21421', '16703', '20170101', 'GGOENEBQ079099', 'Nest® Protect Smoke + CO White Battery Alarm-USA', 'Nest-USA', '2', '81.5', '158', '0', '6.5')
('2017-01-01', '4500', '2424.5', '536598', '2017-01-01', '21421', '1', 'GGOENEBQ079099', '21421', '16776', '20170102', 'GGOENEBQ079099', 'Nest® Protect Smoke + CO White Battery Alarm-USA', 'Nest-USA', '2', '81.5', '158', '15.229999999999999', '6.5')
('2017-01-01', '4500', '2424.5', '536598', '2017-01-01', '21421', '1', 'GGOENEBQ079099', '21421', '16777', '20170102', 'GGOENEBQ079099', 'Nest® Protect Smoke + CO White Battery Alarm-USA', 'Nest-USA', '1', '81.5', '158', '0', '6.5')
('2017-01-01', '4500', '2424.5', '536598', '2017-01-01', '21421', '1', 'GGOENEBQ079099', '21421', '16804', '20170102', 'GGOENEBQ079099', 'Nest® Protect Smoke + CO White Battery Alarm-USA', 'Nest-USA', '2', '81.5', '456', '40.49', '6.5')

In [63]:
# engine2.execute('SELECT * FROM key_sku inner join').fetchall()

In [64]:
# engine3.execute('SELECT * FROM retail LIMIT 5').fetchall()

In [65]:
# engine4.execute('select * from marketing_spend').fetchall()

In [66]:
engine.execute('SELECT * FROM online LIMIT 5').fetchall()

[('48497', '20171231', 'GGOENEBQ079099', 'Nest® Protect Smoke + CO White Battery Alarm-USA', 'Nest-USA', '4', '80.52', '316', '34.44', '19.99'),
 ('48496', '20171231', 'GGOENEBQ079199', 'Nest® Protect Smoke + CO White Wired Alarm-USA', 'Nest-USA', '5', '80.52', '395', '33.14', '6.5'),
 ('48495', '20171231', 'GGOENEBQ084699', 'Nest® Learning Thermostat 3rd Gen-USA - White', 'Nest-USA', '1', '151.88000000000002', '149', '12.06', '6.5'),
 ('48494', '20171231', 'GGOEGAEB091117', 'Google Zip Hoodie Black', 'Apparel', '1', '48.92', '47.99', '3.82', '6.5'),
 ('48493', '20171231', 'GGOENEBB078899', 'Nest® Cam Indoor Security Camera - USA', 'Nest-USA', '1', '121.3', '119', '8.31', '6.5')]