In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect, func
import time
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

online_errors = 0
retail_errors = 0
key_errors = 0
marketing_errors = 0
# inspector = inspect(engine)
# inspector.get_table_names()

In [2]:
online_db = pd.read_csv("Resources/Online.csv")
retail_db = pd.read_csv("Resources/Retail.csv")
key_db = pd.read_csv("Resources/KEY_SKU.csv",encoding='utf-8-sig')
marketing_db =pd.read_csv("Resources/Marketing_Spend.csv")
online_start_time = time.time()
retail_start_time = time.time()
key_start_time = time.time()
marketing_start_time = time.time()

engine = create_engine("sqlite:///Resources/data.sqlite", echo=False)

In [3]:
online_db.head()

,Transaction ID,Date,Product SKU,Product,Product Category (Enhanced E-commerce),Quantity,Avg. Price,Revenue,Tax,Delivery
0,48497,20171231,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,20171231,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,20171231,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,20171231,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,20171231,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [4]:
retail_db.head(10)

   InvoiceNo InvoiceDate  StockCode  Quantity
0     536598  2017-01-01      21421         1
1     536598  2017-01-01      21422         2
2     536598  2017-01-01      22178        26
3     536599  2017-01-01      20749         2
4     536599  2017-01-01      21056         2
5     536600  2017-01-01      21730         2
6     536602  2017-01-01      21871         1
7     536602  2017-01-01      21071         1
8     536602  2017-01-01      21068         1
9     536602  2017-01-01      21730         1

In [5]:
retail_db.dtypes

InvoiceNo       int64
InvoiceDate    object
StockCode       int64
Quantity        int64
dtype: object

In [6]:
key_db.head()

      Product SKU  StockCode
0  GGOENEBQ079099      21421
1  GGOENEBQ079199      21422
2  GGOENEBQ084699      22178
3  GGOEGAEB091117      20749
4  GGOENEBB078899      21056

In [7]:
marketing_db.head()

   Unnamed: 0  Offline Spend  Online Spend
0  2017-01-01           4500       2424.50
1  2017-01-02           4500       3480.36
2  2017-01-03           4500       1576.38
3  2017-01-04           4500       2928.55
4  2017-01-05           4500       4055.30

In [8]:
# inner join key to retail on stock code
#then inner join new retail_db on to online_db on product sku
#then on marketing join on invoice date after changing the name

In [9]:
marketing_db['Unnamed: 0']=pd.to_datetime(marketing_db['Unnamed: 0'].astype(str), format='%Y/%m/%d')

In [10]:

# try:
#     marketing_trans = marketing_db.rename(columns={'Unnamed:0':'Invoice_Date',
#                                                       'Offline Spend':'Offline Budget',
#                                                       'Online Spend':'Online Budget'})
# except:    
#     marketing_errors+=1
# marketing_trans.head()

In [52]:
marketing_count = marketing_transf.shape[0]
try:
    marketing_transf= marketing_db.rename(columns={"Unnamed: 0": "Invoice Date", 
                                                                 "Offline Spend":"Offline Budget", 
                                                                 "Online Spend":"Online Budget"})
    
except:
    marketing_errors+=1
marketing_transf.head()

  Invoice Date  Offline Budget  Online Budget
0   2017-01-01            4500        2424.50
1   2017-01-02            4500        3480.36
2   2017-01-03            4500        1576.38
3   2017-01-04            4500        2928.55
4   2017-01-05            4500        4055.30

In [12]:
marketing_errors

0

In [13]:
try:
    key_trans = key_db.rename(columns={'Product SKU':'Product_Sku',
                                      'StockCode':'Stock Code'})
except:
    key_errors+=1
    
key_trans.head()

      Product_Sku  Stock Code
0  GGOENEBQ079099       21421
1  GGOENEBQ079199       21422
2  GGOENEBQ084699       22178
3  GGOEGAEB091117       20749
4  GGOENEBB078899       21056

In [14]:
#create report count
key_count=key_trans.shape[0]

In [15]:
retail_db['InvoiceDate']=pd.to_datetime(retail_db['InvoiceDate'].astype(str), format='%Y/%m/%d')

try:
    retail_trans = retail_db.rename(columns={"InvoiceNo": "Invoice No", 
                                        "InvoiceDate":"Invoice Date", 
                                        "StockCode":"Stock Code", 
                                        "Quantity":"Quantity"})
except:
    retail_errors+=1
retail_trans.head()

   Invoice No Invoice Date  Stock Code  Quantity
0      536598   2017-01-01       21421         1
1      536598   2017-01-01       21422         2
2      536598   2017-01-01       22178        26
3      536599   2017-01-01       20749         2
4      536599   2017-01-01       21056         2

In [16]:
retail_count = retail_trans.shape[0]

In [17]:
online_db['Date']=pd.to_datetime(online_db['Date'].astype(str), format='%Y/%m/%d')

try:
    online_trans = online_db.rename(columns={"Transaction ID":"Transaction Id", 
                                             "Date":"Invoice Date", 
                                             "Product SKU":"Product_Sku",
                                             "Product":"Product",
                                             "Product Category (Enhanced E-commerce)":"Product Catagory",
                                             "Quantity":"Quantity",
                                             "Avg. Price":"Average Price",
                                             "Revenue":"Revenue",
                                             "Tax":"Tax",
                                             "Delivery":"Delivery Cost"})
except:
    online_errors+=1
online_trans.head()

,Transaction Id,Invoice Date,Product_Sku,Product,Product Catagory,Quantity,Average Price,Revenue,Tax,Delivery Cost
0,48497,2017-12-31,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,2017-12-31,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,2017-12-31,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,2017-12-31,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,2017-12-31,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [18]:
online_count = online_trans.shape[0]

In [51]:
sku_join = pd.merge(key_trans,retail_trans,on='Stock Code',how = 'inner')
sku_join.head()

      Product_Sku  Stock Code  Invoice No Invoice Date  Quantity
0  GGOENEBQ079099       21421      536598   2017-01-01         1
1  GGOENEBQ079099       21421      536999   2017-01-02         1
2  GGOENEBQ079099       21421      537137   2017-01-04         2
3  GGOENEBQ079099       21421      538296   2017-01-09         1
4  GGOENEBQ079099       21421      540247   2017-02-04         1

In [50]:
sku_online_join= pd.merge(key_trans, online_trans, on='Product_Sku',how = 'inner')
sku_online_join.head()

,Product_Sku,Stock Code,Transaction Id,Invoice Date,Product,Product Catagory,Quantity,Average Price,Revenue,Tax,Delivery Cost
0,GGOENEBQ079099,21421,48497,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.0,34.44,19.99
1,GGOENEBQ079099,21421,48491,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,2.0,80.52,376.0,0.00,6.50
2,GGOENEBQ079099,21421,48475,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,1022.0,92.58,6.50
3,GGOENEBQ079099,21421,48468,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,2.0,80.52,158.0,14.59,6.50
4,GGOENEBQ079099,21421,48466,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,3.0,80.52,237.0,21.61,6.50

In [21]:
sku_online_join.dtypes

Stock Code                   int64
Transaction Id               int64
Invoice Date        datetime64[ns]
Product                     object
Product Catagory            object
Quantity                   float64
Average Price              float64
Revenue                    float64
Tax                        float64
Delivery Cost              float64
dtype: object

In [22]:
retail_online_join = pd.merge(retail_trans, online_trans, on='Invoice Date',how='inner')
retail_online_join.head()

,Invoice No,Invoice Date,Stock Code,Quantity_x,Transaction Id,Product_Sku,Product,Product Catagory,Quantity_y,Average Price,Revenue,Tax,Delivery Cost
0,536598,2017-01-01,21421,1,16736,GGOENEBJ079499,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,10.89,6.5
1,536598,2017-01-01,21421,1,16733,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5
2,536598,2017-01-01,21421,1,16732,GGOENEBJ079499,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,13.22,6.5
3,536598,2017-01-01,21421,1,16731,GGOENEBQ078999,Nest® Cam Outdoor Security Camera - USA,Nest-USA,2.0,122.77,238.0,20.80,6.5
4,536598,2017-01-01,21421,1,16727,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5

In [23]:
cleaned_retail_online = retail_online_join.rename(columns={'Quantity_y':'Online Quantity'})
cleaned_retail_online = cleaned_retail_online.rename(columns={'Quantity_x':'Retail Quantity'})
cleaned_retail_online.head()

,Invoice No,Invoice Date,Stock Code,Retail Quantity,Transaction Id,Product_Sku,Product,Product Catagory,Online Quantity,Average Price,Revenue,Tax,Delivery Cost
0,536598,2017-01-01,21421,1,16736,GGOENEBJ079499,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,10.89,6.5
1,536598,2017-01-01,21421,1,16733,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5
2,536598,2017-01-01,21421,1,16732,GGOENEBJ079499,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,13.22,6.5
3,536598,2017-01-01,21421,1,16731,GGOENEBQ078999,Nest® Cam Outdoor Security Camera - USA,Nest-USA,2.0,122.77,238.0,20.80,6.5
4,536598,2017-01-01,21421,1,16727,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5

In [24]:
last_join = pd.merge(cleaned_retail_online,marketing_transf, on='Invoice Date',how = 'inner')
last_join.head(5)

,Invoice No,Invoice Date,Stock Code,Retail Quantity,Transaction Id,Product_Sku,Product,Product Catagory,Online Quantity,Average Price,Revenue,Tax,Delivery Cost,Offline Budget,Online Budget
0,536598,2017-01-01,21421,1,16736,GGOENEBJ079499,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,10.89,6.5,4500,2424.5
1,536598,2017-01-01,21421,1,16733,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5,4500,2424.5
2,536598,2017-01-01,21421,1,16732,GGOENEBJ079499,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,13.22,6.5,4500,2424.5
3,536598,2017-01-01,21421,1,16731,GGOENEBQ078999,Nest® Cam Outdoor Security Camera - USA,Nest-USA,2.0,122.77,238.0,20.80,6.5,4500,2424.5
4,536598,2017-01-01,21421,1,16727,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5,4500,2424.5

In [25]:
last_join.dtypes

Invoice No                   int64
Invoice Date        datetime64[ns]
Stock Code                   int64
Retail Quantity              int64
Transaction Id               int64
Product_Sku                 object
Product                     object
Product Catagory            object
Online Quantity            float64
Average Price              float64
Revenue                    float64
Tax                        float64
Delivery Cost              float64
Offline Budget               int64
Online Budget              float64
dtype: object

In [26]:
import psycopg2 as psycopg

In [27]:
connection_string = "postgres:dragon@localhost:5432/ETL_Challenge"
engine = create_engine(f'postgresql://{connection_string}')

In [28]:
engine.table_names()

['key_sku', 'marketing', 'online', 'retail']

In [29]:
key_trans.to_sql(name='key_sku', con=engine, if_exists='append', index=True)
key_end_time=time.time() - key_start_time

In [30]:
marketing_transf.to_sql(name='marketing', con=engine, if_exists='append', index=True)
marketing_end_time=time.time() - marketing_start_time

In [31]:
online_trans.to_sql(name='online', con=engine, if_exists='append', index=True)
online_end_time=time.time() - online_start_time

In [32]:
retail_trans.to_sql(name='retail', con=engine, if_exists='append', index=True)
retail_end_time=time.time() - retail_start_time

In [33]:
print(key_end_time)
print(retail_end_time)
print(marketing_end_time)
print(online_end_time)

91.39220213890076
148.0032558441162
91.51720881462097
106.54680395126343

In [56]:
pd.read_sql_query('SELECT * FROM online', con=engine).head()

,index,Transaction Id,Invoice Date,Product_Sku,Product,Product Catagory,Quantity,Average Price,Revenue,Tax,Delivery Cost
0,0,48497,2017-12-31,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,1,48496,2017-12-31,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,2,48495,2017-12-31,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,3,48494,2017-12-31,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,4,48493,2017-12-31,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [53]:
etl_report=pd.DataFrame({'domain' : ['key_sku', 'online','marketing','retail'],
                       'row_counts' : [key_count, online_count,marketing_count,retail_count],
                        'processing_time':[str(round(key_end_time,2)) + ' seconds',
                                           str(round(retail_end_time,2)) + ' seconds',
                                          str(round(marketing_end_time,2)) + ' seconds',
                                          str(round(online_end_time,2)) + ' seconds',],
                         'error_count':[key_errors, retail_errors,online_errors,marketing_errors]})

In [54]:
etl_report.head()

      domain  row_counts processing_time  error_count
0    key_sku        1178   91.39 seconds            0
1     online       54144   148.0 seconds            0
2  marketing         365   91.52 seconds            0
3     retail      181247  106.55 seconds            0

In [55]:
etl_report.to_html('alex_etl_report.html', index=False)

In [35]:
# ignore below-------------------------------------

In [36]:
# engine.execute("""select * from pragma_table_info('online');""").fetchall()

In [37]:
# engine.execute("""select * from pragma_table_info('key_sku');""").fetchall()

In [38]:
# engine.execute("""select * from pragma_table_info('retail');""").fetchall()

In [39]:
# engine.execute("""select * from pragma_table_info('marketing_spend');""").fetchall()

In [40]:
# join1 =  engine.execute('SELECT * FROM marketing_spend inner join retail on marketing_spend.InvoiceDate = retail.InvoiceDate LIMIT 5').fetchall()

In [41]:
# for row in join1:
#     print(row)

In [42]:
# join1 =  engine.execute("""SELECT * FROM marketing_spend 
#                         inner join retail 
#                         on marketing_spend.InvoiceDate = retail.InvoiceDate 
#                         inner join key_SKU
#                         on key_sku.StockCode =retail.StockCode 
#                         inner join online
#                         on online.'ProductSKU' = KEY_SKU.'\ufeffProduct SKU' limit 1""").fetchall()

In [43]:
#need to figure out how to make this look nicely?

In [44]:
# for row in join1:
#     print(row)

In [45]:
# engine2.execute('SELECT * FROM key_sku inner join').fetchall()

In [46]:
# engine3.execute('SELECT * FROM retail LIMIT 5').fetchall()

In [47]:
# engine4.execute('select * from marketing_spend').fetchall()

In [48]:
# engine.execute('SELECT * FROM online LIMIT 5').fetchall()

In [49]:
# print(join1)