In [1]:
# !pip install psychopg2

In [2]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import time

keysku_errors=0
marketing_errors=0
online_errors=0
retail_errors=0

In [3]:
key_sku_start_time = time.time()

datapath = "Resources/KEY_SKU.csv"
key_sku_df = pd.read_csv(datapath)
key_sku_df.head()

      Product SKU  StockCode
0  GGOENEBQ079099      21421
1  GGOENEBQ079199      21422
2  GGOENEBQ084699      22178
3  GGOEGAEB091117      20749
4  GGOENEBB078899      21056

In [4]:
# key_sku_df.dtypes

In [5]:
marketing_start_time = time.time()

datapath = "Resources/Marketing_Spend.csv"
marketing_df = pd.read_csv(datapath)
marketing_df.head()

   Unnamed: 0  Offline Spend  Online Spend
0  2017-01-01           4500       2424.50
1  2017-01-02           4500       3480.36
2  2017-01-03           4500       1576.38
3  2017-01-04           4500       2928.55
4  2017-01-05           4500       4055.30

In [6]:
online_start_time = time.time()

datapath = "Resources/Online.csv"
online_df = pd.read_csv(datapath)
online_df.head()

,Transaction ID,Date,Product SKU,Product,Product Category (Enhanced E-commerce),Quantity,Avg. Price,Revenue,Tax,Delivery
0,48497,20171231,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,20171231,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,20171231,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,20171231,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,20171231,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [7]:
online_df.dtypes

Transaction ID                              int64
Date                                        int64
Product SKU                                object
Product                                    object
Product Category (Enhanced E-commerce)     object
Quantity                                  float64
Avg. Price                                float64
Revenue                                   float64
Tax                                       float64
Delivery                                  float64
dtype: object

In [8]:
retail_start_time = time.time()

datapath = "Resources/Retail.csv"
retail_df = pd.read_csv(datapath)
retail_df.head()

   InvoiceNo InvoiceDate  StockCode  Quantity
0     536598  2017-01-01      21421         1
1     536598  2017-01-01      21422         2
2     536598  2017-01-01      22178        26
3     536599  2017-01-01      20749         2
4     536599  2017-01-01      21056         2

In [9]:
# Create a filtered dataframe from specific columns
try:
    key_sku_transformed= key_sku_df.rename(columns={"Product SKU":"product_sku",
                                                "StockCode":"stock_code"})    
except:
    keysku_errors+=1

key_sku_transformed.head()

      product_sku  stock_code
0  GGOENEBQ079099       21421
1  GGOENEBQ079199       21422
2  GGOENEBQ084699       22178
3  GGOEGAEB091117       20749
4  GGOENEBB078899       21056

In [10]:
key_sku_transformed.dtypes

product_sku    object
stock_code      int64
dtype: object

In [11]:
#create report count
key_sku_count=key_sku_transformed.shape[0]

In [12]:
retail_df['InvoiceDate']=pd.to_datetime(retail_df['InvoiceDate'].astype(str), format='%Y/%m/%d')

In [13]:
# Create a filtered dataframe from specific columns
try:
    retail_transformed= retail_df.rename(columns={"InvoiceNo": "invoice_no", 
                                                    "InvoiceDate":"invoice_date", 
                                                    "StockCode":"stock_code", 
                                                  "Quantity":"quantity"})
    
except:
    retail_errors+=1

retail_transformed.head()

   invoice_no invoice_date  stock_code  quantity
0      536598   2017-01-01       21421         1
1      536598   2017-01-01       21422         2
2      536598   2017-01-01       22178        26
3      536599   2017-01-01       20749         2
4      536599   2017-01-01       21056         2

In [14]:
#create report count
retail_count=retail_transformed.shape[0]

In [15]:
retail_transformed.dtypes

invoice_no               int64
invoice_date    datetime64[ns]
stock_code               int64
quantity                 int64
dtype: object

In [16]:
marketing_df['Unnamed: 0']=pd.to_datetime(marketing_df['Unnamed: 0'].astype(str), format='%Y/%m/%d')

In [17]:
marketing_df.dtypes

Unnamed: 0       datetime64[ns]
Offline Spend             int64
Online Spend            float64
dtype: object

In [18]:
# Create a filtered dataframe from specific columns
try:
    marketing_transformed= marketing_df.rename(columns={"Unnamed: 0": "invoice_date", 
                                                                 "Offline Spend":"offline_spending", 
                                                                 "Online Spend":"online_spending"})
    
except:
    marketing_errors+=1

marketing_transformed.head()

  invoice_date  offline_spending  online_spending
0   2017-01-01              4500          2424.50
1   2017-01-02              4500          3480.36
2   2017-01-03              4500          1576.38
3   2017-01-04              4500          2928.55
4   2017-01-05              4500          4055.30

In [19]:
marketing_transformed.dtypes

invoice_date        datetime64[ns]
offline_spending             int64
online_spending            float64
dtype: object

In [20]:
# format spending columns as $xx.xx
# marketing_transformed['online_spending'] = marketing_transformed['online_spending'].astype(int)
# marketing_transformed['offline_spending'] = marketing_transformed['offline_spending'].astype(int)
# marketing_df['date']=pd.to_datetime(marketing_df['date'].astype(str), format='%Y/%m/%d')
# marketing_transformed.head()

In [21]:
#create report count
marketing_count=marketing_transformed.shape[0]

In [22]:
# online_df.describe()

In [23]:
online_df['Date']=pd.to_datetime(online_df['Date'].astype(str), format='%Y/%m/%d')

# Create a filtered dataframe from specific columns
try:
    
# Rename the column headers
    online_transformed=online_df.rename(columns={"Transaction ID":"transaction_id", 
                                                 "Date":"invoice_date", 
                                                 "Product SKU":"product_sku",
                                                 "Product":"product",
                                                 "Product Category (Enhanced E-commerce)":"product_category",
                                                 "Quantity":"quantity",
                                                 "Avg. Price":"ave_price",
                                                 "Revenue":"revenue",
                                                 "Tax":"tax",
                                                 "Delivery":"delivery_cost"})
     

except:
    online_errors+=1

online_transformed.head()

,transaction_id,invoice_date,product_sku,product,product_category,quantity,ave_price,revenue,tax,delivery_cost
0,48497,2017-12-31,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,2017-12-31,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,2017-12-31,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,2017-12-31,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,2017-12-31,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [24]:
online_transformed.dtypes

transaction_id               int64
invoice_date        datetime64[ns]
product_sku                 object
product                     object
product_category            object
quantity                   float64
ave_price                  float64
revenue                    float64
tax                        float64
delivery_cost              float64
dtype: object

In [25]:
# create report count
online_count=online_transformed.shape[0]

In [26]:
# inner join key_sku to retail on stock_code

# then inner join new retail_db on to online_db on product sku

# then on marketing join on invoice date after changing the name

In [27]:
# Join key_sku and retail
sku_retail_join=pd.merge(key_sku_transformed, retail_transformed, 
                        on='stock_code', how='inner')

# Set index
sku_retail_join.set_index('invoice_no', inplace=True)
sku_retail_join.head()

               product_sku  stock_code invoice_date  quantity
invoice_no
536598      GGOENEBQ079099       21421   2017-01-01         1
536999      GGOENEBQ079099       21421   2017-01-02         1
537137      GGOENEBQ079099       21421   2017-01-04         2
538296      GGOENEBQ079099       21421   2017-01-09         1
540247      GGOENEBQ079099       21421   2017-02-04         1

In [28]:
sku_retail_join.dtypes

product_sku             object
stock_code               int64
invoice_date    datetime64[ns]
quantity                 int64
dtype: object

In [29]:
# Merge key_sku and online
sku_online_join=pd.merge(key_sku_transformed, online_transformed, 
                        on='product_sku', how='inner')

# Set index
sku_online_join.set_index('product_sku', inplace=True)
sku_online_join.head(3)

,stock_code,transaction_id,invoice_date,product,product_category,quantity,ave_price,revenue,tax,delivery_cost
product_sku,,,,,,,,,,
GGOENEBQ079099,21421,48497,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.0,34.44,19.99
GGOENEBQ079099,21421,48491,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,2.0,80.52,376.0,0.00,6.50
GGOENEBQ079099,21421,48475,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,1022.0,92.58,6.50

In [30]:
# Merge new sku_stock_join and online
retail_online_join=pd.merge(sku_retail_join, online_transformed, 
                        on='invoice_date', how='inner')

retail_online_join.head(2)

,product_sku_x,stock_code,invoice_date,quantity_x,transaction_id,product_sku_y,product,product_category,quantity_y,ave_price,revenue,tax,delivery_cost
0,GGOENEBQ079099,21421,2017-01-01,1,16736,GGOENEBJ079499,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,10.89,6.5
1,GGOENEBQ079099,21421,2017-01-01,1,16733,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5

In [31]:
retail_online_join.dtypes

product_sku_x               object
stock_code                   int64
invoice_date        datetime64[ns]
quantity_x                   int64
transaction_id               int64
product_sku_y               object
product                     object
product_category            object
quantity_y                 float64
ave_price                  float64
revenue                    float64
tax                        float64
delivery_cost              float64
dtype: object

In [32]:
# Rename and drop unnecessary columns
new_retail_online=retail_online_join.rename(columns={"quantity_x":"quantity_retail",
                                 "quantity_y":"quantity_online",
                                 "product_sku_x":"product_sku"})\
                                .drop(columns=['product_sku_y'])
new_retail_online.head(2)

,product_sku,stock_code,invoice_date,quantity_retail,transaction_id,product,product_category,quantity_online,ave_price,revenue,tax,delivery_cost
0,GGOENEBQ079099,21421,2017-01-01,1,16736,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,10.89,6.5
1,GGOENEBQ079099,21421,2017-01-01,1,16733,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5

In [33]:
# Marketing join on new_retail
final_join=pd.merge(new_retail_online, marketing_transformed, 
                        on='invoice_date', how='inner')

final_join.head(2)

,product_sku,stock_code,invoice_date,quantity_retail,transaction_id,product,product_category,quantity_online,ave_price,revenue,tax,delivery_cost,offline_spending,online_spending
0,GGOENEBQ079099,21421,2017-01-01,1,16736,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,10.89,6.5,4500,2424.5
1,GGOENEBQ079099,21421,2017-01-01,1,16733,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5,4500,2424.5

In [34]:
final_join.dtypes

product_sku                 object
stock_code                   int64
invoice_date        datetime64[ns]
quantity_retail              int64
transaction_id               int64
product                     object
product_category            object
quantity_online            float64
ave_price                  float64
revenue                    float64
tax                        float64
delivery_cost              float64
offline_spending             int64
online_spending            float64
dtype: object

In [35]:
# Set index
final_join.set_index('invoice_date', inplace=True)
final_join.head()

,product_sku,stock_code,quantity_retail,transaction_id,product,product_category,quantity_online,ave_price,revenue,tax,delivery_cost,offline_spending,online_spending
invoice_date,,,,,,,,,,,,,
2017-01-01,GGOENEBQ079099,21421,1,16736,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,10.89,6.5,4500,2424.5
2017-01-01,GGOENEBQ079099,21421,1,16733,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5,4500,2424.5
2017-01-01,GGOENEBQ079099,21421,1,16732,Nest® Learning Thermostat 3rd Gen-USA - Stainl...,Nest-USA,1.0,153.71,149.0,13.22,6.5,4500,2424.5
2017-01-01,GGOENEBQ079099,21421,1,16731,Nest® Cam Outdoor Security Camera - USA,Nest-USA,2.0,122.77,238.0,20.80,6.5,4500,2424.5
2017-01-01,GGOENEBQ079099,21421,1,16727,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,122.77,119.0,11.00,6.5,4500,2424.5

In [36]:
# pip install psycopg2-binary

In [37]:
# Connect to database
import psycopg2 as psycopg

In [38]:
# conn = psycopg.connect("dbname=ETL-challenge user=postgres password=postgres")
connection_string="postgres:postgres@localhost:5432/ETL-challenge"

In [39]:
# engine = create_engine(f'postgresql://{conn}')
engine = create_engine(f'postgresql://{connection_string}')

In [40]:
engine.table_names()

['key_sku', 'retail', 'marketing', 'online']

In [41]:
# Load dataframes into database
key_sku_transformed.to_sql(name='key_sku', con=engine, if_exists='append', index=True)
key_sku_end_time=time.time() - key_sku_start_time

In [42]:
retail_transformed.to_sql(name='retail', con=engine, if_exists='append', index=True)
retail_end_time=time.time() - retail_start_time

In [43]:
marketing_transformed.to_sql(name='marketing', con=engine, if_exists='append', index=True)
marketing_end_time=time.time() - marketing_start_time

In [44]:
online_transformed.to_sql(name='online', con=engine, if_exists='append', index=True)
online_end_time=time.time() - online_start_time

In [45]:
print(key_sku_end_time)
print(retail_end_time)
print(marketing_end_time)
print(online_end_time)

16.36705493927002
33.968624114990234
34.13666749000549
41.213024854660034

In [46]:
print(key_sku_count)
print(retail_count)
print(marketing_count)
print(online_count)

1178
181247
365
54144

In [47]:
print(keysku_errors)
print(retail_errors)
print(marketing_errors)
print(online_errors)

0
0
0
0

In [48]:
# Confirm data has been added by querying a table
pd.read_sql_query('SELECT * FROM online', con=engine).head(2)

,index,transaction_id,invoice_date,product_sku,product,product_category,quantity,ave_price,revenue,tax,delivery_cost
0,0,48497,2017-12-31,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.0,34.44,19.99
1,1,48496,2017-12-31,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.0,33.14,6.50

In [49]:
danyelle_etl_report=pd.DataFrame({'domain': ['key_sku','retail','marketing','online'],
                        'row_counts': [key_sku_count, retail_count, 
                                       marketing_count, online_count],
                        'processing_time':[str(round(key_sku_end_time,2)) + ' seconds',
                                          str(round(retail_end_time,2)) + ' seconds',
                                          str(round(marketing_end_time,2)) + ' seconds',
                                          str(round(online_end_time,2)) + ' seconds'],
                        'error_count':[keysku_errors, retail_errors, 
                                       marketing_errors, online_errors]})

In [50]:
danyelle_etl_report.head()

      domain  row_counts processing_time  error_count
0    key_sku        1178   16.37 seconds            0
1     retail      181247   33.97 seconds            0
2  marketing         365   34.14 seconds            0
3     online       54144   41.21 seconds            0

In [51]:
danyelle_etl_report.to_html('danyelle_etl_report.html', index=False)