In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect
# from sqlalchemy.orm import Session
# from sqlalchem.ext.automap import automap_base
import time


keysku_errors=0
marketing_errors=0
online_errors=0
retail_errors=0

In [2]:
# engine = create_engine("sqlite:///")
# inspector = inspect(engine)

In [2]:
key_sku_start_time = time.time()

datapath = "Resources/KEY_SKU.csv"
key_sku_df = pd.read_csv(datapath)
key_sku_df.head()

      Product SKU  StockCode
0  GGOENEBQ079099      21421
1  GGOENEBQ079199      21422
2  GGOENEBQ084699      22178
3  GGOEGAEB091117      20749
4  GGOENEBB078899      21056

In [3]:
marketing_start_time = time.time()

datapath = "Resources/Marketing_Spend.csv"
marketing_df = pd.read_csv(datapath)
marketing_df.head()

   Unnamed: 0  Offline Spend  Online Spend
0  2017-01-01           4500       2424.50
1  2017-01-02           4500       3480.36
2  2017-01-03           4500       1576.38
3  2017-01-04           4500       2928.55
4  2017-01-05           4500       4055.30

In [4]:
online_start_time = time.time()

datapath = "Resources/Online.csv"
online_df = pd.read_csv(datapath)
online_df.head()

,Transaction ID,Date,Product SKU,Product,Product Category (Enhanced E-commerce),Quantity,Avg. Price,Revenue,Tax,Delivery
0,48497,20171231,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,20171231,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,20171231,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,20171231,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,20171231,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [5]:
retail_start_time = time.time()

datapath = "Resources/Retail.csv"
retail_df = pd.read_csv(datapath)
retail_df.head()

   InvoiceNo InvoiceDate  StockCode  Quantity
0     536598  2017-01-01      21421         1
1     536598  2017-01-01      21422         2
2     536598  2017-01-01      22178        26
3     536599  2017-01-01      20749         2
4     536599  2017-01-01      21056         2

In [6]:
# Create a filtered dataframe from specific columns
try:
    key_sku_transformed= key_sku_df.rename(columns={"Product SKU":"product_sku",
                                                "StockCode":"stock_code"})    
except:
    key_sku_errors+=1

key_sku_transformed.head()

      product_sku  stock_code
0  GGOENEBQ079099       21421
1  GGOENEBQ079199       21422
2  GGOENEBQ084699       22178
3  GGOEGAEB091117       20749
4  GGOENEBB078899       21056

In [7]:
#create report count
key_sku_count=key_sku_transformed.shape[0]

In [9]:
retail_df['InvoiceDate']=pd.to_datetime(retail_df['InvoiceDate'].astype(str), format='%Y/%m/%d')

In [10]:
# Create a filtered dataframe from specific columns
try:
    retail_transformed= retail_df.rename(columns={"InvoiceNo": "invoice_no", 
                                                    "InvoiceDate":"invoice_date", 
                                                    "StockCode":"stock_code", 
                                                  "Quantity":"quantity"})
    
except:
    retail_errors+=1

retail_transformed.head()

   invoice_no invoice_date  stock_code  quantity
0      536598   2017-01-01       21421         1
1      536598   2017-01-01       21422         2
2      536598   2017-01-01       22178        26
3      536599   2017-01-01       20749         2
4      536599   2017-01-01       21056         2

In [11]:
#create report count
retail_count=retail_transformed.shape[0]

In [13]:
marketing_df['Unnamed: 0']=pd.to_datetime(marketing_df['Unnamed: 0'].astype(str), format='%Y/%m/%d')

In [14]:
# Create a filtered dataframe from specific columns
try:
    marketing_transformed= marketing_df.rename(columns={"Unnamed: 0": "date", 
                                                                 "Offline Spend":"offline_spending", 
                                                                 "Online Spend":"online_spending"})
    
except:
    marketing_errors+=1

marketing_transformed.head()

        date  offline_spending  online_spending
0 2017-01-01              4500          2424.50
1 2017-01-02              4500          3480.36
2 2017-01-03              4500          1576.38
3 2017-01-04              4500          2928.55
4 2017-01-05              4500          4055.30

In [15]:
# format spending columns as $xx.xx
# marketing_transformed['online_spending'] = marketing_transformed['online_spending'].astype(int)
# marketing_transformed['offline_spending'] = marketing_transformed['offline_spending'].astype(int)
# marketing_df['date']=pd.to_datetime(marketing_df['date'].astype(str), format='%Y/%m/%d')
# marketing_transformed.head()

In [16]:
#create report count
marketing_count=marketing_transformed.shape[0]

In [22]:
# online_df.describe()

In [26]:
online_df['Date']=pd.to_datetime(online_df['Date'].astype(str), format='%Y/%m/%d')

# Create a filtered dataframe from specific columns
try:
    
# Rename the column headers
    online_transformed=online_df.rename(columns={"Transaction ID":"transaction_id", 
                                                 "Date":"date", 
                                                 "Product SKU":"product_sku",
                                                 "Product":"product",
                                                 "Product Category (Enhanced E-commerce)":"product_category",
                                                 "Quantity":"quantity",
                                                 "Avg. Price":"ave_price",
                                                 "Revenue":"revenue",
                                                 "Tax":"tax",
                                                 "Delivery":"delivery_cost"})
     

except:
    online_errors+=1

online_transformed.head()

,transaction_id,date,product_sku,product,product_category,quantity,ave_price,revenue,tax,delivery_cost
0,48497,2017-12-31,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,2017-12-31,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,2017-12-31,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,2017-12-31,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,2017-12-31,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [18]:
# create report count
online_count=online_transformed.shape[0]

In [27]:
# inner join key_sku to retail on stock_code

# then inner join new retail_db on to online_db on product sku

# then on marketing join on invoice date after changing the name

In [36]:
# Join key_sku and retail
sku_retail_join=pd.merge(key_sku_transformed, retail_transformed, 
                        on='stock_code', how='inner')

# Set index
sku_retail_join.set_index('invoice_no', inplace=True)
sku_retail_join.head()

               product_sku  stock_code invoice_date  quantity
invoice_no
536598      GGOENEBQ079099       21421   2017-01-01         1
536999      GGOENEBQ079099       21421   2017-01-02         1
537137      GGOENEBQ079099       21421   2017-01-04         2
538296      GGOENEBQ079099       21421   2017-01-09         1
540247      GGOENEBQ079099       21421   2017-02-04         1

In [35]:
# Merge key_sku and online
sku_online_join=pd.merge(key_sku_transformed, online_transformed, 
                        on='product_sku', how='inner')

# Set index
sku_online_join.set_index('product_sku', inplace=True)
sku_online_join.head(3)

,stock_code,transaction_id,date,product,product_category,quantity,ave_price,revenue,tax,delivery_cost
product_sku,,,,,,,,,,
GGOENEBQ079099,21421,48497,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.0,34.44,19.99
GGOENEBQ079099,21421,48491,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,2.0,80.52,376.0,0.00,6.50
GGOENEBQ079099,21421,48475,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,1022.0,92.58,6.50

In [20]:
retail_online_join=pd.merge(sku_stock_join, online_transformed, 
                        on='product_sku', how='inner')
retail_online_join.head(2)

,product_sku,stock_code,invoice_no,invoice_date,quantity_x,transaction_id,date,product,product_category,quantity_y,ave_price,revenue,tax,delivery_cost
0,GGOENEBQ079099,21421,536598,2017-01-01,1,48497,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.0,34.44,19.99
1,GGOENEBQ079099,21421,536598,2017-01-01,1,48491,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,2.0,80.52,376.0,0.00,6.50

In [27]:
marketing_join=pd.merge(retail_online_join, marketing_transformed, 
                        on='date', how='inner')
marketing_join.head(2)

,product_sku,stock_code,invoice_no,invoice_date,quantity_x,transaction_id,date,product,product_category,quantity_y,ave_price,revenue,tax,delivery_cost,offline_spending,online_spending
0,GGOENEBQ079099,21421,536598,2017-01-01,1,48497,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.0,34.44,19.99,4000,2058.75
1,GGOENEBQ079099,21421,536598,2017-01-01,1,48491,2017-12-31,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,2.0,80.52,376.0,0.00,6.50,4000,2058.75